.about {
  /* Padding for top, right, bottom, and left sides */
  padding: 8rem 8vw 25rem 8vw;
  margin-inline: auto;

  /* Responsive styling for medium screens */
  @include respond(medium) {
    padding: 0 0 5rem 0;
  }

  &__header {
    /* Header background color and styling */
    background-color: var(--color-alt-blue);
    border-radius: 4rem;
    color: var(--color-black);
    padding: 8rem;
    margin: 0 auto 8rem;
    text-align: left;
    max-width: 130rem;

    /* Responsive styling for medium screens */
    @include respond(medium) {
      border-radius: 0;
      margin-bottom: 0;
      padding: 5rem;
    }

    p {
      /* Margin for paragraphs */
      margin-block-end: var(--bottom-margin);

      /* Responsive styling for medium screens */
      @include respond(medium) {
        text-align: center;
      }
    }
  }

  & .h2__heading {

    /* Styling for h2 headings on medium screens */
    @include respond(medium) {
      text-align: center;
    }
  }

  &__wrapper {
    /* Grid layout for the wrapper */
    display: grid;
    grid-template-columns: auto;
    gap: 8rem;
    max-width: 130rem;
    margin: auto;

    /* Responsive styling for medium screens */
    @include respond(medium) {
      padding: 0;
    }

    /* Responsive styling for largest screens */
    @include respond(largest) {
      grid-template-rows: auto;
      grid-template-columns: none;
    }
  }

  &__item {
    /* Grid layout for items */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;

    /* Responsive styling for medium screens */
    @include respond(medium) {
      grid-template-columns: auto;
    }

    /* Styling for odd items */
    &:nth-of-type(odd) .about__details {
      border-left: 3px solid #017C8A;
      padding-left: 5rem;

      /* Responsive styling for medium screens */
      @include respond(medium) {
        border: none;
        padding-right: 5rem;
      }
    }

    /* Styling for even items */
    &:nth-of-type(even) .about__details {
      border-right: 3px solid #017C8A;
      padding-right: 5rem;
      text-align: right;

      /* Responsive styling for medium screens */
      @include respond(medium) {
        border: none;
        padding-left: 5rem;
      }
    }

    /* Direction for even items */
    &:nth-of-type(even) {
      direction: rtl;

      /* Responsive styling for medium screens */
      @include respond(medium) {
        direction: ltr;
      }
    }

    img {
      /* Image styling */
      width: 100%;
      display: block;
      border-radius: 1.5rem;

      /* Responsive styling for medium screens */
      @include respond(medium) {
        border-radius: 0;
      }
    }
  }

  &__details {
    /* Details styling */
    height: 80%;
    margin: auto;
    height: fit-content;
  }

  &__p {
    /* Paragraph styling */
    line-height: 1.6;

    /* Responsive styling for medium screens */
    @include respond(medium) {
      text-align: center;
    }
  }

  &__gradient {
    /* Gradient styling */
    position: relative;
    display: inline-block;
    height: fit-content;

    &:after {
      /* Gradient background */
      content: '';
      position: absolute;
      border-radius: 1.5rem;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: linear-gradient(252deg, rgba(7, 85, 140, 0.40) -2.45%, rgba(1, 124, 138, 0.40) 53.27%, rgba(62, 105, 53, 0.40) 98.82%);

      /* Responsive styling for medium screens */
      @include respond(medium) {
        border-radius: 0;
      }
    }
  }
}

.staff {
  /* Staff section styling */
  padding: 8rem 8vw;
  text-align: center;
  min-height: 100%;
  background: linear-gradient(0deg, rgba(var(--color-grey-a), 0.8), rgba(var(--color-grey-a), 0)), url("assets/img/backgrounds/staff-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;

  &__wrapper {
    /* Wrapper transformation */
    transform: translateY(-25rem);

    /* Responsive styling for medium screens */
    @include respond(medium) {
      transform: none;
    }

    .h3__heading {
      /* Styling for h3 headings */
      font-weight: 500;
    }
  }

  &__header {
    /* Header background color and styling */
    background-color: var(--color-alt-blue);
    border-radius: 4rem;
    color: var(--color-black);
    padding: 8rem;
    margin: 0 auto 5rem;
    text-align: center;
    max-width: 130rem;

    /* Responsive styling for medium screens */
    @include respond(medium) {
      border-radius: 0;
      padding: 5rem;
    }

    p {
      /* Margin for paragraphs */
      margin-block-end: var(--bottom-margin);

      /* Responsive styling for medium screens */
      @include respond(medium) {
        text-align: center;
      }
    }
  }

  /* Responsive styling for medium screens */
  @include respond(medium) {
    padding: 0 0 10rem 0;
  }

  & .h2__heading {}

  &__content {
    /* Content styling */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 130rem;
    margin: 0 auto;
  }

  // Member wrapper and link
  &__member {
    /* Member styling */
    position: relative;
    width: 19rem;
    margin: 3.5rem;
    text-decoration: none;
    transition: all .5s ease;

    &:focus {
      /* Focus styling */
      outline: 4px dashed var(--color-teal);
      outline-offset: 5rem;
      border-radius: 5rem;
    }

    // Grey overlay - initially invisible
    .staff__overlay {
      /* Grey overlay styling */
      content: '';
      position: absolute;
      top: 0;
      height: 99%;
      width: 100%;
      left: 0;
      z-index: 10;
      opacity: 0;
      transition: all .5s ease;
      background-color: var(--color-blue);
      border-radius: 8px;

      /* Responsive styling for medium screens */
      @include respond(medium) {
        display: none;
      }
    }

    // Grey staff overlay is visible on hover
    &:focus .staff__overlay,
    &:hover .staff__overlay {
      opacity: .8;
    }

    // Reveal staff details on member hover
    &:focus .staff__details,
    &:hover .staff__details {
      opacity: 1;
    }

    // Reveal staff details on member hover
    &:focus .staff__name,
    &:hover .staff__name {
      bottom: -3.5rem;
      opacity: 1;
    }
  }

  &__is-mobile .staff__details {
    /* Styling for staff details on mobile */
    color: var(--color-black);
    opacity: 1;
    margin-top: 2.5rem;
  }

  // Staff name for mobile users
  &__is-mobile .staff__name {
    /* Styling for staff name on mobile */
    font-size: 1.8rem;
    opacity: 1;
  }

  // Staff name for mobile users
  &__is-mobile .staff__title {
    /* Styling for staff title on mobile */
    display: none;
  }

  // Staff overlay for mobile users
  &__is-mobile .staff__overlay {
    /* Styling for staff overlay on mobile */
    display: none;
  }

  &__is-desktop .staff__details {
    /* Styling for staff details on desktop */
    color: var(--color-white);
    position: absolute;
    //padding: 1rem;
    top: 0;
    text-align: center;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: grid;
    place-content: center;
    opacity: 0;

    /* Responsive styling for medium screens */
    @include respond(medium) {
      opacity: 1;
      position: relative;
      margin-block-start: 1rem;
      text-align: center;
      width: 100%;
    }
  }

  &__is-desktop .staff__name {
    /* Styling for staff name on desktop */
    font-size: 1.8rem;
  }

  // Headshot image
  &__headshot {
    /* Headshot image styling */
    width: 19rem;
    position: relative;
    z-index: 2;
    filter: grayscale(100%) brightness(115%);
    border-radius: 8px;
  }

  // Staff details wrapper - initially hidden
  &__details {
    /* Styling for staff details */
    z-index: 10;
    width: 18.5rem;
    transition: all .5s ease;

    /* Responsive styling for medium screens */
    @include respond(medium) {
      opacity: 1;
      position: relative;
      margin-block-start: 2rem;
      width: 100%;
    }
  }

  // Staff details name
  &__name {
    /* Styling for staff name */
    font-weight: 600;
    line-height: 1.2;
    align-self: center;
    z-index: 99;

    /* Responsive styling for medium screens */
    @include respond(medlg) {
      font-size: $font-body-mobile;
      text-align: center;
      opacity: 1;
    }

    @include respond(medium) {
      color: var(--color-black);
    }
  }

  // Staff title - Hidden on mobile
  &__title {
    /* Styling for staff title */
    font-size: 1.3rem;

    /* Responsive styling for medium screens */
    @include respond(medium) {
      display: none;
    }
  }
}

.resources {
  /* Resources section styling */
  background-color: var(--color-white);
  text-align: center;
  padding: 8rem 8vw;

  .h2__heading {
    /* Styling for h2 headings */
    color: var(--color-black);
  }

  &__wrapper {
    /* Wrapper for resources */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 130rem;
    margin: 0 auto 8rem;
    gap: 8rem;
  }
}

.resource {
  /* Single resource item styling */
  background-color: var(--color-grey);
  padding: 5rem 2rem;
  border-radius: 1.5rem;
  width: 30rem;
  text-decoration: none;
  color: var(--color-black);
  transition: all .3s ease-in-out;
  

  &:focus .resource__download,
  &:hover .resource__download {
    /* Styling for download button on focus and hover */
    background-color: var(--color-blue);
  }

  &:focus .resource__icon,
  &:hover .resource__icon {
    /* Styling for resource icon on focus and hover */
    fill: var(--color-white);
    transform: translateY(5px) scale(.93);
  }

  &:focus .resource__name,
  &:hover .resource__name {
    /* Styling for resource name on focus and hover */
    color: var(--color-blue);
  }

  &__download {
    /* Download button styling */
    display: grid;
    align-items: center;
    background-color: var(--color-white);
    height: 13rem;
    width: 13rem;
    padding: 2rem;
    border-radius: 50%;
    margin: 0 auto;
    transition: all .5s ease;
  }

  &__icon {
    /* Icon styling */
    margin: 0 auto;
    fill: var(--color-blue);
    width: 6.5rem;
    height: 6.5rem;
    transition: all .3s ease-in-out;
  }

  .h4__header {
    text-transform: uppercase;
    margin: 1.5rem 0 5px;
    font-size: 2.5rem;
    font-weight: 400;
  }

  &__name {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.9rem;
    transition: all .5s ease;
  }
}

/* Styles for the .questions section */
.questions {
  background-color: var(--color-grey);
  border-radius: 4rem;
  padding: 5rem;
  margin-block-start: 2rem;
  max-width: 130rem;
  margin: auto;

  .h3__heading {
    font-weight: 400;
  }

  p {
    font-size: $font-body;
  }

  &__email {
    color: var(--color-black);
    font-weight: 600;
    transition: all .5s ease;

    &:hover,
    &:focus {
      color: var(--color-blue);
    }

    &:focus {
      outline: 1px dashed var(--color-blue);
      outline-offset: 2px;
    }
  }
}